- title "New Patients"

- content_for :sidebar do
  %p
    = image_tag "ChrissyPics/ChrissyDavidLookingAtEachOther.jpg"

%h2 What happens during my initial visit?

%p
  After initial contact via phone or email with the parent prior to the
  initial visit to prepare for your child's evaluation.  If there are
  previous reports or written information available, I may request a
  review of that information as well.

%p
  I have a parent information packet that we request you complete at, or
  prior to, the initial session online.  This will provide substantial
  background information and will help parents formulate thoughts
  regarding their concerns about their child's strengths and
  weaknesses. For your convenience, we have made these forms available
  online here. Your taking the time to complete this material before the
  initial visit will greatly enhance your therapist’s understanding of
  your child during the first visit. It will also help you formulate
  thoughts regarding your concerns about your child's strengths and
  weaknesses.

%p
  Initially, I conduct an assessment process that often looks like play.
  Children often do not realize that they are being evaluated.  (Some
  children ask when can they sign up for more classes.)  The first
  sessions(s) are designed to assess your child's level of functioning
  in both gross and fine motor skills, sensory processing, daily living
  and play skills, and to determine factors that may interfere with age
  appropriate skill acquisition. Generally the sessions are about 1 hour
  and combine structured and unstructured activities.

%p
  You are always welcome to accompany your child.  With younger children
  this is encouraged, as you know your child best and issues of
  separation can be minimized.

%p
  Our goal is to help you and your child feel as comfortable and playful
  as possible.  While I understand that the process can be stressful, I
  do my best to minimize stress and open communication.

%p
  over here -- link to initial sign up forms, stuff like . . .
%ul
  %li= link_to "New patient registration form", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/New%20patient%20registration%20form%20(pdf).pdf'
  %li= link_to "Early childhood checklist", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/early%20childhood%20checklist.pdf'
  %li= link_to "School age checklist", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/school%20age%20checklist.pdf'
  %li= link_to "Functional skills checklist", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Functional%20skills%20checklist.pdf'
  %li= link_to "Credit Card Authorization", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/credit%20card%20authorization.pdf'
  %li= link_to "Office and Financial Policies", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Office%20And%20Financial%20Policies%20Sept_%202010.pdf'
  %li= link_to "Release", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Release%20.pdf'
  %li= link_to "Services", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Services%20pdf.pdf'
  %li= link_to "Price list", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Price%20list.pdf'
  %li= link_to "Directions", 'http://www.pediatricpotentialsnj.com/PP/PPpng/files/Directions.pdf'