%h1 Listing patients

%table
  %tr
    %th Parent name
    %th Name
    %th Street address
    %th Zip
    %th Phone
    %th City
    %th State
    %th Referring source
    %th
    %th
    %th

  - @patients.each do |patient|
    %tr
      %td= patient.parent_name
      %td= patient.name
      %td= patient.street_address
      %td= patient.zip
      %td= patient.phone
      %td= patient.city
      %td= patient.state
      %td= patient.referring_source
      %td= link_to 'Show', patient
      %td= link_to 'Edit', edit_patient_path(patient)
      %td= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Patient', new_patient_path
