%p#notice= notice

%p
  %b Parent name:
  = @patient.parent_name
%p
  %b Name:
  = @patient.name
%p
  %b Street address:
  = @patient.street_address
%p
  %b Zip:
  = @patient.zip
%p
  %b Phone:
  = @patient.phone
%p
  %b City:
  = @patient.city
%p
  %b State:
  = @patient.state
%p
  %b Referring source:
  = @patient.referring_source

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
