- title "Contact Us"

%p please contact me . . .

= simple_form_for @message, :html => {:class => 'form-horizontal' }, :url => contact_path do |form|
  %fieldset
    = form.input :name
    = form.input :email
    = form.input :subject
    = form.input :body, as: :text
  .form-actions
    = form.button :submit, class: 'btn-primary'