!!!
%html
  %head
    / start of new things
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %title= content_for?(:title) ? yield(:title) : "Pediatric Therapy Partners of NOVA"
    %meta{:content => "Pediatric Therapy Partners of NOVA", :name => "description"}/
    %meta{:content => "Tim Booher", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %script{:src => "//use.typekit.net/wut2wet.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body.text
    #ArticleGrid
      = link_to "", "/", class: "SiteHeaderHome"
      #SiteHeaderBar
        = render 'layouts/navigation'
      #main_content.text
        .LayoutBreakAfter
          = yield
      #SiteFooter
        %p this is the footer
