!!!
%html
  %head
    / start of new things
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %title= content_for?(:title) ? yield(:title) : "Pediatric Therapy Partners of NOVA"
    %meta{:content => "Pediatric Therapy Partners of NOVA", :name => "description"}/
    %meta{:content => "Tim Booher", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %script{:src => "//use.typekit.net/wut2wet.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body.text
    #ArticleGrid
      #SiteHeader.TextSmall
        / = link_to "", "/", class: "SiteHeaderHome"
        #SiteHeaderBar
          = render 'layouts/navigation'
      #Title
        - if content_for?(:title)
          .LayoutBreakAfter.title
            .ArticleGrid-1
              &nbsp;
            .ArticleGrid-2-4
              %h1= yield(:title)
            - if content_for?(:subtitle)
              %p.description= yield(:subtitle)
      #main_content.text
        - if content_for?(:topbar)
          .LayoutBreakAfter.topbar
            = yield(:topbar)
        .LayoutBreakAfter
          .ArticleGrid-1
            - if content_for?(:sidebar)
              = yield(:sidebar)
            - else
              %p &nbsp;
          .ArticleGrid-2-4
            .mainContent
              = yield
        - if content_for?(:wide_open)
          .LayoutBreakAfter
            =yield(:wide_open)
      #SiteFooter
        = render 'layouts/footer'

%script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40651058-1', 'ptpnova.com');
  ga('send', 'pageview');
